{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
    .hidden {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1>Roadway and Existing Facilities Form ( Near )</h1>
<form action="{% url 'roadway_form_submission' school_id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Step 2: Roadway and Existing Facilities Information -->
    <label for="schoolName">Choose School Name:</label>
    <select id="schoolName" name="schoolId" required>
        {% for x in data %}
        <option value="{{ x.id }}">{{ x }}</option>
        {% endfor %}

    </select>
    <fieldset>
        <legend>Roadway Information</legend>
        <div class="form-group">
            <label for="carriage-width">1. Carriage-way Width right outside the gate(s) in meters:</label>
            <input type="number" id="carriage-width" name="carriage_width" step="0.1" required>
        </div>

        <div class="form-group">
            <label>2. Carriage Way Direction</label><br>

            <select id="carriage_Way_Direction" name="carriage_way_direction" required>
                <option value="---">Choose One option</option>
                <option value="Two-Way">Two Way</option>
                <option value="One-Way">One Way</option>
                <option value="Partial">Partial</option>
            </select>
                    <div id="partial_time_two_way"  class="hidden">
                        <br>
                <label><b>Partial Two Way</b></label>
            <br><br>
                        <label for="Partial_Two_Way_Time_Start_Time">Start Time</label>
                        <input type="time" name="partial_start_time_two_way" id="Partial_Two_Way_Time_Start_Time" /><br>

                        <label for="Partial_Two_Way_Time_Close_Time">Close Time</label>
                        <input type="time" name="partial_end_time_two_way" id="Partial_Two_Way_Time_Close_Time" /><br>
                    </div><br>
                <div id="twoway" class="hidden">
                <input type="radio" id="North-South" name="carriage_way_direction_two_way" value="North-South">
                <label for="North-South">North-South</label><br>

                <input type="radio" id="East-West" name="carriage_way_direction_two_way" value="East-West">
                <label for="East-West">East-West</label><br>
                <br>

{#                <label for="Patial_Two_way">Partial Two Way </label>#}
{#                <input type="radio" id="Partial_Two_way_yes" name="partial_two_way" value="Yes"#}
{#                    onclick="loadBlockPartialYes();">#}
{#                <label for="Patial_Two_way_yes">Yes</label>#}
{##}
{#                <input type="radio" id="Partial_Two_way_no" name="partial_two_way" value="No"#}
{#                    onclick="loadBlockPartialNo();">#}
{#                <label for="Patial_Two_way_no">No</label>#}
            </div>
            <br>
            
                <div id="partial_time_one_way" class="hidden">
                    <label> <b>Partial One Way</b> </label><br><br>
                    <label for="Partial_One_Way_Time_Start_Time">Start Time</label>
                    <input type="time" name="partial_start_time_one_way" id="Partial_One_Way_Time_Start_Time" /><br>

                    <label for="Partial_One_Way_Time_Close_Time">Close Time</label>
                    <input type="time" name="partial_end_time_one_way" id="Partial_One_Way_Time_Close_Time" /><br>
                 </div>

            <div id="oneway" class="hidden">
                <input type="radio" id="North" name="carriage_way_direction_oneway" value="North">
                <label for="North">North</label><br>

                <input type="radio" id="South" name="carriage_way_direction_oneway" value="South">
                <label for="South">South</label><br>

                <input type="radio" id="East" name="carriage_way_direction_oneway" value="East">
                <label for="East">East</label><br>

                <input type="radio" id="West" name="carriage_way_direction_oneway" value="West">
                <label for="West">West</label><br><br>

{#                <label for="Patial_One_way">Partial One Way </label>#}
{#                <input type="radio" id="Partial_One_way_yes" name="partial_one_way" value="Yes"#}
{#                    onclick="loadBlockPartialYes();">#}
{#                <label for="Patial_One_way_yes">Yes</label>#}
{##}
{#                <input type="radio" id="Partial_One_way_no" name="partial_one_way" value="No"#}
{#                    onclick="loadBlockPartialNo();">#}
{#                <label for="Patial_One_way_no">No</label>#}

            </div>


        </div>

        <div class="form-group">
            <label>3. Divided/Undivided:</label><br>
            <input type="radio" id="undivided" name="divided_undivided" value="Undivided" required>
            <label for="undivided">Undivided</label><br>
            <input type="radio" id="Central-Refuge" name="divided_undivided" value="Central-Refuge">
            <label for="Central-Refuge">Central-Refuge</label><br>
            <input type="radio" id="Barrier" name="divided_undivided" value="Barrier">
            <label for="Barrier">Barrier</label><br>
        </div>

        <div class="form-group">
            <label>4. Is it at an intersection?</label><br>
            <input type="radio" id="no-intersection" name="intersection_type" value="No-Intersection" required>
            <label for="no-intersection">No Intersection</label><br>
            <input type="radio" id="t-junction" name="intersection_type" value="T-Junction">
            <label for="t-junction">T junction</label><br>
            <input type="radio" id="4-legged-intersection" name="intersection_type" value="4-Legged-Intersection">
            <label for="4-legged-intersection">4 legged intersection</label><br>
            <input type="radio" id="y-junction" name="intersection_type" value="Y-Junction">
            <label for="y-junction">Y junction</label><br>
            <input type="radio" id="staggered-t-junction" name="intersection_type" value="Staggered-T-Junction">
            <label for="staggered-t-junction">Staggered T junction</label><br>
            <input type="radio" id="rotary-roundabout" name="intersection_type" value="Rotary-Or-Roundabout">
            <label for="rotary-roundabout">Rotary or Roundabout</label>
        </div>

        <div class="form-group">
            <label for="num-lanes">5. Number of Lanes:</label>
            <input type="number" id="num-lanes" name="num_lanes" min="1">
            {# <input type="radio" id="not_clear" name="num_lanes" value="not_clear">#}
            {# <label for="not_clear">Not Clear</label>#}
        </div>

        <div class="form-group">
            <label>6. Central Road Marking:</label><br>
            <input type="radio" id="none_marking" name="central_road_marking" value="None" required>
            <label for="none_marking">None</label><br>
            <input type="radio" id="Broken-Single" name="central_road_marking" value="Broken-Single">
            <label for="Broken-Single">Broken-Single</label><br>
            <input type="radio" id="Broken-Double" name="central_road_marking" value="Broken-Double">
            <label for="Broken-Double">Broken-Double</label><br>
            <input type="radio" id="Continuous-Single" name="central_road_marking" value="Continuous-Single">
            <label for="Continuous-Single">Continuous-Single</label><br>
            <input type="radio" id="Continuous-Double" name="central_road_marking" value="Continuous-Double">
            <label for="Continuous-Double">Continuous-Double</label><br>

        </div>

        <div class="form-group">
            <label>7. Footpath/Sidewalk:</label><br>
            <input type="radio" id="one_side" name="footpath" value="One-Side" onclick="loadBlockOne();" required>
            <label for="one_side">One Side</label><br>
            <input type="radio" id="both_sides" name="footpath" value="Both-Side" onclick="loadBlockTwo();">
            <label for="both_sides">Both Sides</label><br>
            <input type="radio" id="none_side" name="footpath" value="None" onclick="loadBlockNone();">
            <label for="none_side">None</label><br>
        </div>

        <div class="form-group">
            <div id="width_one_block" class="hidden">
                <label for="width_side_one">7.1. Width of Side One:</label>
                <input type="number" id="width_side_one" name="width_side_one" min="0" max="1000" step="0.01">
            </div>
            <div id="width_two_block" class="hidden">
                <label for="width_side_two">7.2. Width of Side Two:</label>
                <input type="number" id="width_side_two" name="width_side_two" min="0" max="1000" step="0.01">
            </div>
        </div>

        {# <div class="form-group">#}
            {# <label for="one_way">15. One-way/Two-way:</label><br>#}
            {# <input type="radio" id="one_way" name="one_way_two_way" value="one_way" required>#}
            {# <label for="one_way">One-way</label><br>#}
            {# <input type="radio" id="two_way" name="one_way_two_way" value="two_way">#}
            {# <label for="two_way">Two-way</label><br>#}
            {# </div>#}

        <div class="form-group">
            <img src="{% static 'gate.png' %}"><br><br>
            <label for="pictures_near_side">8. From near-side looking into far-side:</label>
            <input type="file" id="pictures_near_side" name="pictures_near_side"><br>
            <label for="pictures_far_side">9. From far-side looking into near-side:</label>
            <input type="file" id="pictures_near_side" name="pictures_far_side">
        </div>
    </fieldset>

    <fieldset>
        <legend>Existing Traffic Control System</legend>
        <div class="form-group">
            <label>10. Traffic Lights:</label><br>
            <input type="radio" id="traffic_lights_no" name="traffic_lights" value="No" required
                onclick="trafficLightNotExist()">
            <label for="traffic_lights_no">No</label><br>
            <input type="radio" id="traffic_lights_yes" name="traffic_lights" value="Yes" onclick="trafficLightExist()">
            <label for="traffic_lights_yes">Yes</label><br>

        </div>

        <div id="traffic_lights_details" class="hidden">
            <div class="form-group">
                <label> 10.1Working:</label><br>
                <input type="radio" id="working" name="traffic_lights_working" value="Working">
                <label for="working">Working</label><br>
                <input type="radio" id="not_working" name="traffic_lights_working" value="Not-Working">
                <label for="not_working">Not Working</label><br>
            </div>

            <div class="form-group">
                <label for="traffic_light_number"> 10.2 Number of Traffic Light Poles:</label>

                <select id="traffic_light_number" name="traffic_light_number">
                    <option value="---">Choose One option</option>
                    <option value="One">1</option>
                    <option value="Two">2</option>
                    <option value="Three">3</option>
                    <option value="Four">4</option>
                </select>
                <div id="trafficlight1" class="hidden">
                    <label for="traffic_lights_pictures"> 10.3 Upload Picture of the System:</label><br>
                    <label for="traffic_lights_pictures">Traffic Light 1 :</label>
                    <input type="file" id="traffic_lights_pic1" name="traffic_lights_pic1">
                </div>

                <div id="trafficlight2" class="hidden">
                    <br><br>
                    <label for="traffic_lights_pic2">Traffic Light 2 :</label>
                    <input type="file" id="traffic_lights_pic2" name="traffic_lights_pic2"> <br>
                </div>

                <div id="trafficlight3" class="hidden">
                    <br><br>
                    <label for="traffic_lights_pic3">Traffic Light 3 :</label>
                    <input type="file" id="traffic_lights_pic3" name="traffic_lights_pic3">
                </div>
                
                <div id="trafficlight4" class="hidden">
                    <br><br>
                    <label for="traffic_lights_pic4">Traffic Light 4 :</label>
                    <input type="file" id="traffic_lights_pic4" name="traffic_lights_pic4">
                </div>
                
            </div>


        </div>
    </fieldset>

    <fieldset>
        <legend>Zebra Crossings In Proximity</legend>
        <div class="form-group">
            <label>11. Are there zebra crossings in proximity?</label><br>
            <input type="radio" id="zebra_crossings_yes" name="zebra_crossings" value="Yes" required>
            <label for="zebra_crossings_yes">Yes</label>
            <input type="radio" id="zebra_crossings_no" name="zebra_crossings" value="No">
            <label for="zebra_crossings_no">No</label>
        </div>

        <div id="zebra_crossings_details" class="hidden">
            <div class="form-group">
                <label for="num_zebra_crossings">Number of Zebra Crossings:</label>
                <input type="number" id="num_zebra_crossings" name="num_zebra_crossings" min="1">
            </div>

            <div class="form-group">
                <label for="zebra_width">Width of Marking:</label>
                <input type="number" id="zebra_width" name="zebra_width" step="0.1">
            </div>

            <label for="zebraMap">Pin-point Zebra Crossing Location:</label>
            <input type="text" id="ZebraMapCoordinate" name="zebraMapCoordinate" placeholder="Pin-point on map">
            <button type="button" class="btnGetLoc" id="btnGetLoc">Locate Me</button>
            <div id="zebraMap"></div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Foot-over Bridge In Proximity</legend>
        <div class="form-group">
            <label>12. Is there a foot-over bridge in proximity?</label><br>
            <input type="radio" id="foot_over_bridge_yes" name="foot_over_bridge" value="Yes" required>
            <label for="foot_over_bridge_yes">Yes</label>
            <input type="radio" id="foot_over_bridge_no" name="foot_over_bridge" value="No">
            <label for="foot_over_bridge_no">No</label>
        </div>

        <div id="foot_over_bridge_details" class="hidden">
            <div class="form-group">
                <label for="foot_over_bridge_number">Number of Foot-over Bridges:</label>
                <select id="foot_over_bridge_number" name="foot_over_bridge_number">
                    <option value="---">Choose One option</option>
                    <option value="One">1</option>
                    <option value="Two">2</option>
                    <option value="Three">3</option>
                </select>
            </div>

            <div id="footover1" class="hidden">
                <div class="form-group">
                    <label for="foot_over_bridge_picture">Picture of the Facility 1:</label>
                    <input type="file" id="foot_over_bridge_picture1" name="foot_over_bridge_picture1">
                </div>

                <label for="foot_over_bridge_map">Pin-point Foot-over Bridge Location 1:</label>
                <input type="text" id="foot_over_bridge_map_coordinate1" name="foot_over_bridge_map_coordinate1"
                    placeholder="Pin-point on map" >
                <button type="button" class="btnGetLoc" id="btnGetLoc">Locate Me</button>
                <div id="foot_over_bridge_map1"></div>
            </div>

            <div id="footover2" class="hidden">
                <div class="form-group">
                    <label for="foot_over_bridge_picture">Picture of the Facility 2:</label>
                    <input type="file" id="foot_over_bridge_picture2" name="foot_over_bridge_picture2">
                </div>

                <label for="foot_over_bridge_map">Pin-point Foot-over Bridge Location 2:</label>
                <input type="text" id="foot_over_bridge_map_coordinate2" name="foot_over_bridge_map_coordinate2"
                    placeholder="Pin-point on map" >
                <button type="button" class="btnGetLoc" id="btnGetLoc">Locate Me</button>
                <div id="foot_over_bridge_map2"></div> <br>
            </div>

            <div id="footover3" class="hidden">
                <div class="form-group"></div>
                <label for="foot_over_bridge_picture3">Picture of the Facility 3:</label>
                <input type="file" id="foot_over_bridge_picture3" name="foot_over_bridge_picture3"><br>


                <label for="foot_over_bridge_map3">Pin-point Foot-over Bridge Location 3:</label>
                <input type="text" id="foot_over_bridge_map_coordinate3" name="foot_over_bridge_map_coordinate3"
                    placeholder="Pin-point on map" >
                <button type="button" class="btnGetLoc" id="btnGetLoc">Locate Me</button>
                <div id="foot_over_bridge_map3"></div> <br>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Electrical Infrastructure Nearby</legend>
        <div class="form-group">
            <label for="power_source">13. Power Source:</label>
            <input type="text" id="power_source" name="power_source">
        </div>

        <div class="form-group">
            <label for="power_source_picture">Picture of Power Source:</label>
            <input type="file" id="power_source_picture" name="power_source_picture">
        </div>

        <div class="form-group">
            <label for="electric_poles_picture">14. Existing Electric Poles Nearby (Picture + Geotag
                option):</label>
            <input type="file" id="electric_poles_picture" name="electric_poles_picture">
        </div>

        <label for="electric_poles_map">Pin-point Electric Poles Location:</label>
        <input type="text" id="electric_poles_map_coordinate" name="electric_poles_map_coordinate"
            placeholder="Pin-point on map" >
        <button type="button" class="btnGetLoc" id="btnGetLoc">Locate Me</button>
        <div id="electric_poles_map"></div>
    </fieldset>


    <fieldset>
        <legend>On Street Vehicle Parking</legend>
        <div class="form-group">
            <label>12. Is there on street vehicle parking in proximity?</label><br>
            <input type="radio" id="on_street_vehicle_parking_none" name="on_street_vehicle_parking" value="None"
                required>
            <label for="on_street_vehicle_parking_none">None</label><br>
            <input type="radio" id="on_street_vehicle_parking_one" name="on_street_vehicle_parking" value="One-Side">
            <label for="on_street_vehicle_parking_one">One Side</label><br>
            <input type="radio" id="on_street_vehicle_parking_both" name="on_street_vehicle_parking" value="Both-Side">
            <label for="on_street_vehicle_parking_both">Both Side</label>
        </div>

        <div id="on_street_vehicle_parking_detail_one" class="hidden">
            <div class="form-group">
                <label for="on_street_vehicle_parking_pictures_one">Picture of the Vehicle Parking:</label>
                <input type="file" id="on_street_vehicle_parking_pictures_one"
                    name="on_street_vehicle_parking_picture_one" multiple>
            </div>

            <label for="on_street_vehicle_parking_map_one">Pin-point On Street Vehicle Parking Location 1:</label>
            <input type="text" id="on_street_vehicle_parking_map_coordinate_one"
                name="on_street_vehicle_parking_map_coordinate_one" placeholder="Pin-point on map" >
            <button type="button" class="btnGetLoc" id="btnGetLoc">Locate Me</button>
            <div id="on_street_vehicle_parking_map_one"></div>

        </div>

        <div id="on_street_vehicle_parking_detail_two" class="hidden">
            <div class="form-group">
                <label for="on_street_vehicle_parking_pictures_two">Picture of the Vehicle Parking:</label>
                <input type="file" id="on_street_vehicle_parking_pictures_two"
                    name="on_street_vehicle_parking_picture_two" multiple>
            </div>

            <label for="on_street_vehicle_parking_map_two">Pin-point On Street Vehicle Parking Location 2:</label>
            <input type="text" id="on_street_vehicle_parking_map_coordinate_two"
                name="on_street_vehicle_parking_map_coordinate_two" placeholder="Pin-point on map" >
            <button type="button" class="btnGetLoc" id="btnGetLoc">Locate Me</button>
            <div id="on_street_vehicle_parking_map_two"></div>

        </div>
    </fieldset>

    <fieldset>
        <legend>Viability to Install the System</legend>
        <div class="form-group">
            <label>15. Is it viable to install the system here?</label><br>
            <input type="radio" id="viable_yes" name="viable_installation" value="Yes" required>
            <label for="viable_yes">Yes</label>
            <input type="radio" id="viable_no" name="viable_installation" value="No">
            <label for="viable_no">No</label>
        </div>


        <div id="viable_no_details" class="hidden">
            <label for="reason">Specify Reason:</label>
            <textarea id="reason" name="reason" rows="4"></textarea>
        </div>
    </fieldset>
    <button type="submit">Submit</button>
</form>
<!-- Leaflet JS -->
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
         integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
         crossorigin=""></script>
  <!-- Your Script -->
    <script>
        // Initialize the map and set its view to a default location (e.g., Kathmandu)
        function initializeMap(mapId, inputId) {


            const osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© OpenStreetMap'
            });

            const osmHOT = L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© OpenStreetMap contributors, Tiles style by Humanitarian OpenStreetMap Team hosted by OpenStreetMap France'
            });

            const Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
            });

            const mapInstance = L.map(mapId, {
                center: [38.715755604432346, -9.141667043719174],
                zoom: 17,
                layers: [osm, osmHOT, Esri_WorldImagery]
            });

            const baseMaps = {
                "OpenStreetMap": osm,
                "OpenStreetMap.HOT": osmHOT,
                "Esri_WorldImagery": Esri_WorldImagery
            };


            const layerControl = L.control.layers(baseMaps).addTo(mapInstance);

            mapInstance.locate({setView: true, maxZoom: 28});

            // Marker variable to store the selected location
            let marker;

             L.DomEvent.on(document.getElementById('btnGetLoc'), 'click', function(){
                mapInstance.locate({setView: true, maxZoom: 28});
              })

            // Function to update marker and coordinates on the map
            function onMapClick(e) {
                const { lat, lng } = e.latlng;

                // If there's already a marker, remove it
                if (marker) {
                    mapInstance.removeLayer(marker);
                }

                // Add a new marker to the map at the clicked location
                marker = L.marker([lat, lng]).addTo(mapInstance);

                // Display the coordinates in the HTML
                document.getElementById(inputId).value = `${lat.toFixed(6)},${lng.toFixed(6)}`;
            }

            // Event listener for clicks on the map
            mapInstance.on('click', onMapClick);
        }
    
    initializeMap('zebraMap', 'ZebraMapCoordinate');
    initializeMap('foot_over_bridge_map1', 'foot_over_bridge_map_coordinate1')
    initializeMap('foot_over_bridge_map2', 'foot_over_bridge_map_coordinate2')
    initializeMap('foot_over_bridge_map3', 'foot_over_bridge_map_coordinate3')
    initializeMap('on_street_vehicle_parking_map_one', 'on_street_vehicle_parking_map_coordinate_one');
    initializeMap('on_street_vehicle_parking_map_two', 'on_street_vehicle_parking_map_coordinate_two');
    initializeMap('electric_poles_map', 'electric_poles_map_coordinate'); 
    // Event listeners for form sections
    document.querySelectorAll('input[name="zebra_crossings"]').forEach((input) => {
        input.addEventListener('change', function () {
            document.getElementById('zebra_crossings_details').classList.toggle('hidden', this.value !== 'Yes');
            if (this.value === 'Yes') {

            }
        });
    });

    document.querySelectorAll('input[name="foot_over_bridge"]').forEach((input) => {
        input.addEventListener('change', function () {
            document.getElementById('foot_over_bridge_details').classList.toggle('hidden', this.value !== 'Yes');
            if (this.value === 'Yes') {

            }
        });
    });

    document.querySelectorAll('input[name="on_street_vehicle_parking"]').forEach((input) => {
        input.addEventListener('change', function () {
            console.log(this.value)
            if (this.value === 'One-Side') {

                document.getElementById('on_street_vehicle_parking_detail_two').classList.add('hidden');
                document.getElementById('on_street_vehicle_parking_detail_one').classList.remove('hidden');
            } else if (this.value === 'Both-Side') {

                document.getElementById('on_street_vehicle_parking_detail_one').classList.remove('hidden');
                document.getElementById('on_street_vehicle_parking_detail_two').classList.remove('hidden');
            } else {
                document.getElementById('on_street_vehicle_parking_detail_one').classList.add('hidden');
                document.getElementById('on_street_vehicle_parking_detail_two').classList.add('hidden');
            }
        });
    });

    document.querySelectorAll('input[name="viable_installation"]').forEach((input) => {
        input.addEventListener('change', function () {
            if (this.value === 'No') {
                document.getElementById('viable_no_details').classList.remove('hidden');
            } else {
                document.getElementById('viable_no_details').classList.add('hidden');
            }
        });
    });
    

    function loadBlockOne() {
        document.getElementById("width_one_block").classList.remove('hidden')
        document.getElementById("width_two_block").classList.add('hidden')

    }

    function loadBlockTwo() {
        document.getElementById("width_one_block").classList.remove('hidden')
        document.getElementById("width_two_block").classList.remove('hidden')
    }

    function loadBlockNone() {
        document.getElementById("width_one_block").classList.add('hidden')
        document.getElementById("width_two_block").classList.add('hidden')
    }
    function loadBlockPartialYes() {
        document.getElementById("partial_time").classList.remove('hidden')
    }

    function loadBlockPartialNo() {
        document.getElementById("partial_time").classList.add('hidden')
    }


    function trafficLightExist() {
        document.getElementById("traffic_lights_details").classList.remove('hidden')
    }

    function trafficLightNotExist() {
        document.getElementById("traffic_lights_details").classList.add('hidden')
    }

    // Show/Hide carriage way dirrection Form
    document.getElementById('carriage_Way_Direction').addEventListener('change', function () {
        const twoway = document.getElementById('twoway');
        const oneway = document.getElementById('oneway');
        const partial_time = document.getElementById('partial_time_one_way');
        const partial_time_two_way = document.getElementById('partial_time_two_way');



        if (this.value === 'Two-Way') {
            twoway.classList.remove('hidden');
            oneway.classList.add('hidden');
            partial_time.classList.add('hidden');
            partial_time_two_way.classList.add('hidden');
        }
        else if (this.value === 'One-Way') {
            twoway.classList.add('hidden');
            oneway.classList.remove('hidden');
            partial_time.classList.add('hidden');
            partial_time_two_way.classList.add('hidden');
        }
        else if (this.value === 'Partial') {
            twoway.classList.remove('hidden');
            oneway.classList.remove('hidden');
            partial_time.classList.remove('hidden');
            partial_time_two_way.classList.remove('hidden');
        } else{
             twoway.classList.add('hidden');
            oneway.classList.add('hidden');
            partial_time.classList.add('hidden');
            partial_time_two_way.classList.add('hidden');

        }
    });
    // Show/Hide Number of Foot bridge Form
    document.getElementById('foot_over_bridge_number').addEventListener('change', function () {
        const footover1 = document.getElementById('footover1');
        const footover2 = document.getElementById('footover2');
        const footover3 = document.getElementById('footover3');

        if (this.value === 'One') {
            footover1.classList.remove('hidden');
            footover2.classList.add('hidden');
            footover3.classList.add('hidden');

        } else if (this.value === 'Two') {
            footover1.classList.remove('hidden');
            footover2.classList.remove('hidden');
            footover3.classList.add('hidden');
        } else if (this.value === 'Three') {
            footover1.classList.remove('hidden');
            footover2.classList.remove('hidden');
            footover3.classList.remove('hidden');
        } else {
            footover1.classList.add('hidden');
            footover2.classList.add('hidden');
            footover3.classList.add('hidden');
        }
    });

    // Show/Hide Number of traffic light picture upload Form
    document.getElementById('traffic_light_number').addEventListener('change', function () {
        const trafficlight1 = document.getElementById('trafficlight1');
        const trafficlight2 = document.getElementById('trafficlight2');
        const trafficlight3 = document.getElementById('trafficlight3');
        const trafficlight4 = document.getElementById('trafficlight4');

        if (this.value === 'One') {
            trafficlight1.classList.remove('hidden');
            trafficlight2.classList.add('hidden');
            trafficlight3.classList.add('hidden');
            trafficlight4.classList.add('hidden');

        } else if (this.value === 'Two') {
            trafficlight1.classList.remove('hidden');
            trafficlight2.classList.remove('hidden');
            trafficlight3.classList.add('hidden');
            trafficlight4.classList.add('hidden');
        }
        else if (this.value === 'Three') {
            trafficlight1.classList.remove('hidden');
            trafficlight2.classList.remove('hidden');
            trafficlight3.classList.remove('hidden');
            trafficlight4.classList.add('hidden');
        } else if (this.value === 'Four') {
            trafficlight1.classList.remove('hidden');
            trafficlight2.classList.remove('hidden');
            trafficlight3.classList.remove('hidden');
            trafficlight4.classList.remove('hidden');
        } else {
            trafficlight1.classList.add('hidden');
            trafficlight2.classList.add('hidden');
            trafficlight3.classList.add('hidden');
            trafficlight4.classList.add('hidden');
        }

    });
</script>

{% else %}
<form>
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> 
</form>
{% endif %}
{% endblock %}